section(class="contacts" id="contacts")
    .container.container--contacts
        .contacts__title
            h2.contacts__title-text.title Контакты
        .contacts__wrapper
            .contacts__address
                h3.contacts__address-title Наш адрес
                .contacts__address-wrapper
                    i(class="fa fa fa-map-marker" aria-hidden="true")
                    span.contacts__address-text Волгоград, Краснооктябрьский район, улица Пельше 2б
            .contacts__phone
                h3.contacts__phone-title Свяжитесь с нами!
                .contacts__phone-wrapper
                    i(class="fa fa fa-mobile" aria-hidden="true")
                    span.contacts__phone-number Автосервис
                    a.contacts__tel(href="tel:+7(937)533-06-08") +7(937)533-06-08
                .contacts__phone-wrapper
                    i(class="fa fa fa-mobile" aria-hidden="true")
                    span.contacts__phone-number Мойка
                    a.contacts__tel(href="tel:+7 (937)719-15-18") +7(937)719-15-18
    .contacts__map-title
        h2.contacts__map-text Где нас найти
    div(class="contacts__map" id="map")
