footer.footer
    .footer__line
    .container.container--footer
        .footer__company
            h3.footer__company-info Автосервис / Мойка
            span.footer__company-text БЛЕСК-АвтоДоп
            .footer__icons
                .footer__icons-first
                .footer__icons-second
                .footer__icons-third
        .footer__info
            .footer__address
                span.footer__address-text г.Волгоград, Краснооктябрьский район, улица Пельше 2б
            .footer__phone
                span.footer__phone-number 8(937)533-06-08
                span.footer__phone-number 8(937)719-15-18