header.header
    .container.container--header
        nav.header__nav
            ul.header__list
                li.header__item
                    a(class='header__item-link header__item-services' href='#service') Услуги
                li.header__item
                    a(class='header__item-link header__item-gallery' href='#gallery') Галерея
                li.header__item
                    a(class='header__item-link header__item-feedback' href='#feedback') Отзывы
                li.header__item
                    a(class='header__item-link header__item-contacts' href='#contacts') Контакты
        .header__phone
            span.header__phone-text  8(937)719-15-18
            span.header__hours  Работаем с 8:00 до 20:00
