section(class="service" id="service")
    .container.container--service
        .service__title
            h2.service__title-text.title Услуги
        ul.service__list
            li.service__item
                .service__picture.service__picture--transmission
                span.service__item-text РЕМОНТ  ТРАНСМИССИИ, ТОРМОЗНОЙ  СИСТЕМЫ, КПП,  РЕДУКТОРОВ.
            li.service__item
                .service__picture.service__picture--electro
                span.service__item-text ПРОБЛЕМЫ  ЭЛЕКТРОСИСТЕМЫ,  КОМПЬЮТЕРНАЯ  ДИАГНОСТИКА.
            li.service__item
                .service__picture.service__picture--body
                span.service__item-text КУЗОВНЫЕ  И  ПОКРАСОЧНЫЕ  РАБОТЫ  ЛЮБОЙ СЛОЖНОСТИ.
            li.service__item
                .service__picture.service__picture--tires
                span.service__item-text ШИНОМОНТАЖНЫЕ  РАБОТЫ, ЗАКАЧКА  АЗОТОМ.
            li.service__item
                .service__picture.service__picture--wash
                span.service__item-text АВТОМОБИЛЬНАЯ МОЙКА   И  ХИМЧИСТКА.
            li.service__item
                .service__picture.service__picture--engine
                span.service__item-text РЕМОНТ ДВИГАТЕЛЯ
        span.service__button Посмотреть весь спектр услуг
        ul.service__prices
            li.service__prices-item
                span.service__prices-name Автоэлектрик \ Компьтерная диагностика
                span.service__prices-price от 500р
            li.service__prices-item
                span.service__prices-name Ремонт ходовой и навесного оборудования
                span.service__prices-price от 500р
            li.service__prices-item
                span.service__prices-name Замена рычагов передней подвески
                span.service__prices-price от 700р до 1500р
            li.service__prices-item
                span.service__prices-name Замена рычагов задней подвески
                span.service__prices-price от 500р до 1000р
            li.service__prices-item
                span.service__prices-name Замена сайлентблоков
                span.service__prices-price от 300р
            li.service__prices-item
                span.service__prices-name Кузовной ремонт
                span.service__prices-price от 3000р за позицию
            li.service__prices-item
                span.service__prices-name Заправка кондиционера
                span.service__prices-price 2р за грамм
            li.service__prices-item
                span.service__prices-name Заправка кондиционера
                span.service__prices-price 1500р полная
        .service__ads(id='ads')
            .service__title-ads
                h3.service__ads-text.title наши акции
            ul.service__ads-list
                li.service__ads-item
                    h3.ads__title каждая пятая мойка - бесплатно
                    span.service__ads-text каждая ПЯТАЯ мойка - БЕСПЛАТНО
                li.service__ads-item
                    h3.ads__title каждая пятая мойка - бесплатно
                    span.service__ads-text Специальное предложение для наших клиентов, каждая ПЯТАЯ мойка - БЕСПЛАТНО
                li.service__ads-item
                    h3.ads__title каждая пятая мойка - бесплатно
                    span.service__ads-text Специальное предложение для наших клиентов, каждая ПЯТАЯ мойка - БЕСПЛАТНО

