section.slider
    .slider__title
        h1.slider__title-text Блеск-Автодоп
        h2.slider__title-desc Автосервис / Мойка
    .slider__body(id='slider')
        ul.slider__list
            li.slider__item
                .slider__item-wrap
                    h3.slider__item-title Первый слайд
                    span.slider__item-text Выполняем работы любой сложности за короткие сроки!
            li.slider__item
                .slider__item-wrap
                    h3.slider__item-title Первый слайд
                    span.slider__item-text Выполняем работы любой сложности за короткие сроки!
            li.slider__item
                .slider__item-wrap
                    h3.slider__item-title Первый слайд
                    span.slider__item-text Выполняем работы любой сложности за короткие сроки!
    .slider__link-wrap
        a.slider__link(href='#ads') акции