.slider {
  display: flex;
  background-image: url(../img/slider/bg.jpg);
  background-size: cover;
  width: 100%;
  //margin-top: -83px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.slider__title  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  //background-color: rgba(192,192,192,0.3);
}


.slider__title-text {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff5ff;
  text-shadow: #000000 0 0 2px;
  text-align: center;
}

.slider__title-desc {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff9fb;
  text-shadow: #000000 0 0 2px;
  text-align: center;
}

.slider__link-wrap  {
  display: flex;
  margin-top: 20px;
  //position: absolute;
  //bottom: 20px;
  @include phones {
    margin-bottom: 20px;
  }
}

.slider__link {
  color: #daf5ff;
  text-transform: uppercase;
  background-color: rgba(192,192,192,0.7);
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s;
    &:hover {
      color: #000000;
      background-color: rgba(0, 191, 192, 0.7);
    }
}


.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item-title, .slider__item-text {
  font-size: 24px;
  color: #fff9fb;
  text-shadow: #000000 0 0 2px;
  text-align: center;
}

#slider {
  width: 700px;
  height: 200px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.slider__list {
  display: flex;
  width: 6000px;
  height: 200px;
  padding: 0;
  margin: 0;
  position: relative;
}

.slider__item {
  width: 700px;
  //height: 200px;
  position: relative;
}

.points {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.point  {
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 0;
  margin: 0 4px 0 0;
  cursor: pointer;
    &:hover {
      background-color: #878787;
    }
}

.active_point {
  background-color: #878787;
}

.slider__item-wrap  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablets  {
    width:500px;
  }
  @include phones  {
    width:400px;
  }
}